@charset "UTF-8";

table{
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 2px;
    margin-bottom: 30px;
}
td{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    width:30px;
    height:30px;
}