@charset "UTF-8";

/* Configurações gerais */
body{
    background-color: red;
    color: white;
}
/* Tablets */
@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-color: blue;
    }
}
/* PCs e Notebooks */
@media screen and (min-width:992px) and (max-width:1200px) {
    body{
        background-color: yellow;
        color: red;
    }
}
/* TV */
@media screen and (min-width:1200px) {
    body{
        background-color: orange;
        color: yellow;
    }
}
/* Impressoras */
@media print {
    body{
        background-color: white;
        color: black;
    }
}