@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
/* Configurações gerais */
body{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}
main{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: white;
    padding: 30px 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
img{
    display: none;
}
/* Config Cellphone/small */
@media only screen and (max-width:768px){
    img#small{
        display: block;
    }
    body{
        background: aqua url('../imagens/r-phone-l.jpg') center center/cover no-repeat fixed;
    }
}

/* Config Medium/tablet */
@media only screen and (min-width:768px) and (max-width:900px){
    img#medium{
        display: block;
    }
    body{
        background: aqua url('../imagens/r-tablet.jpg') center center/cover no-repeat fixed;
    }
}

/* Config Large/PC */
@media only screen and (min-width:900px) and (max-width:1200px){
    img#large{
        display: block;
    }
    body{
        background: aqua url('../imagens/r-computer.jpg') center center/cover no-repeat fixed;
    }
}
/* Config Xlarge/tv */
@media only screen and (min-width:1200px){
    img#xlarge{
        display: block;
    }
    body{
        background: aqua url('../imagens/r-television.jpg') center center/cover no-repeat fixed;
    }
}
/* Config Print landcape*/
@media only print and (orientation:landscape){
    body{
        background-color: white;
    }
    main{
        border: 1px solid black;
        box-shadow: none;
    }
    img#print{
        display: block;
    }
}
/* Config Print portrait*/
@media only print and (orientation:portrait){
    body{
        background-color: white;
    }
    main{
        border: 1px solid red;
        box-shadow: none;
    }
    img#print{
        display: block;
    }
}